<!--<!DOCTYPE html>-->
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/evol-colorpicker.css">
    <link rel="stylesheet" href="../../static/css/font_file.css">
    <script src="../../static/js/jquery-3.1.1.min.js"></script>
    <script src="../../static/js/0409.js"></script>
    <script src="../../static/js/canvasWM.js"></script>
    <script src="../../static/js/jquery.colorpicker.js"></script>
    <script src="../../static/js/base.js"></script>
    <div id="MyViewerDiv"></div>
    <div id="MyViewerDiv01"></div>
    <script src="../../static/ZhiU_Engine/zhiu_UI/js/ZhiUTech_ResourceLoader.js"></script>
    <script src="../../static/layui/layui.js"></script>
    <script>
        layui.use(['layer'], function () {
            eval(function(p,a,c,k,e,d){e=function(c){return(c<a?"":e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)d[e(c)]=k[c]||e(c);k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1;};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p;}('0 3=2.3;0 $=2.$;0 i=1($.8.9(1(6.5,\'?\')),"=");0 k=\'\\4\\a\\h\\g\\l\\j\\c\\b\\d\\f\\e\\7\';',22,22,'var|getCaption|layui|layer|u4e2d|URL|document|u53f8|base64|decode|u51b6|u9662|u603b|u6709|u516c|u9650|u7b51|u5efa||u7a76||u7814'.split('|'),0,{}))
            if (i == "") {
                layer.msg("获取项目失败", {
                    icon: 5,
                    anim: 6
                });
            } else {
                $.ajax({
                    url: getRootPath() + "/bim/modelShare/queryLightweightModelPathByModelShareId",
                    type: "post",
                    data: {
                        modelShareId:i
                    },
                    beforeSend: function () {
                        layer.load(2);
                    },
                    complete: function () {
                        layer.closeAll('loading');
                    },
                    success: function (data) {
                        if (data.success == true) {
                            zhiu_Viewer(data.data);
                            __canvasWM({
                                content:k
                            })
                        } else {
                            layer.msg(data.data,{
                                icon:5,
                                anmin:6,
                                time:0
                            });
                        }
                    },
                    error: function () {
                        layer.msg(
                            "请求数据接口失败！请联系管理员",{
                                icon:5,
                                anmin:6,
                                time:0
                            })
                    }
                })
            }
        });


        function zhiu_Viewer(Url_data) {
            var zhiu_Viewer = {};
            ZhiUTech_ResourcesLoader(_SuccessAction);
            function _SuccessAction() {
                zhiu_Viewer = InitializeZhiUViewer();
                let div = document.getElementById('MyViewerDiv');
                let modelPath = getRootPath() + '/model/modelLightWeight/' + Url_data +'/zhongYeBIM.esd';
                let model1Index = zhiu_Viewer.L_Initialize(div, modelPath);
                zhiu_Viewer.L_Build();
                ZhiUTech_MsgCenter.L_AddListener("初始化成功", function () {
                    Initialize_ZhiUTech_BoxSelection(zhiu_Viewer);
                    Initialize_ZhiUTech_ProgressAnimation(zhiu_Viewer);
                    Initialize_ZhiUTech_NewTree(zhiu_Viewer, true);
                    Initialize_ZhiUTech_UI(zhiu_Viewer);
                    Initialize_ZhiUTech_QRCode(zhiu_Viewer);
                    Initialize_ZhiUTech_ThreeJsMaker(zhiu_Viewer);
                    Initialize_ZhiUTech_CloneGeometry(zhiu_Viewer);
                });
            }
            window._isTreeDivOpen = false;
            function btn_ToggleTreeDivision() {
                window._isTreeDivOpen = !window._isTreeDivOpen;
                zhiu_Viewer.ZhiUTech_NewTree._member.SetDivisionVisibility(window._isTreeDivOpen);
            }
        }

    </script>
</head>

</html>
