<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/layui/css/layui.mobile.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/font_file.css">
    <link rel="stylesheet" href="../../static/css/ModelList.css">
    <script src="../../static/js/jquery-3.1.1.min.js"></script>
    <script src="../../static/js/0409.js"></script>
    <script src="../../static/js/jquery.nicescroll.js"></script>
    <script src="../../static/js/base.js"></script>
    <script src="../../static/js/ModelSharing.js"></script>
</head>

<body>
    <div class="layui-fluid layadmin-cmdlist-fluid">
        <div class="demoReloadTitle">
            <span class="iconfont icon-shanchu" data-type="batch_del"></span>
            <span class="iconfont icon-fenxiang" data-type="batch_fenxiang"></span>
            <div class="div_search">
                <input class="layui-input" name="fileName"  autocomplete="off"
                    placeholder="请输入文件名称">
                <span class="iconfont icon-sousuo" data-type="reload"></span>
            </div>
            <input type="text" name="fenxiangUrl" style=" opacity: 0;"/>
            <div class="layui-clear"></div>
        </div>
        <table class="layui-hide " id="test-table-height" lay-filter="test-table-height"></table>
        <script type="text/html" id="score">
            <span class="iconfont icon-shanchu" lay-event="shanchu"></span>
            <span class="iconfont icon-fuzhi1" lay-event="fenxiang"></span>
        </script>
        <script type="text/html" id="switchTpl">
            <input type="checkbox" name="open" lay-skin="switch" lay-text="ON|OFF" lay-filter="shareStatu" {{ d.shareStatu =="true"?'checked':'' }}>
        </script>
    </div>  

    <script src="../../static/layui/layui.js"></script>

</body>

</html>
