<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/layui/css/layui.mobile.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/font_file.css">
    <link rel="stylesheet" href="../../static/css/ModelList.css">
    <script src="../../static/js/jquery-3.1.1.min.js"></script>
    <script src="../../static/js/jquery.nicescroll.js"></script>
    <script src="../../static/js/base.js"></script>
    <style>.layui-fluid{display:block;padding:30px 60px;}.layui-form{height:200px;}.layui-form-item:last-child{text-align:center;}</style>
</head>

<body>
    <div class="layui-fluid layadmin-cmdlist-fluid">
        <form action="" class="layui-form">
            <div class="">
                <input type="text" id="label_id" value="" hidden="hidden" />
                <label class="layui-form-label label_one">未知</label>
            </div>
            <div class="layui-form-item label_two">
                <label class="layui-form-label">有效期：</label>
                <div class="layui-input-block">
                    <select name="DAY" lay-verify="required">
                        <option value=""></option>
                        <option value="3">3天</option>
                        <option value="5">5天</option>
                        <option value="7">7天</option>
                        <option value="36500">永久</option>
                    </select>
                </div>
            </div>
        </form>
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin: 0;">
                <button class="layui-btn layui-btn-darkblue" lay-submit lay-filter="*" data-type="yes">创建链接</button>
                <button type="reset" class="layui-btn layui-btn-primary" data-type="close">取消</button>
            </div>
        </div>
    </div>

    <script src="../../static/layui/layui.js"></script>
    <script>
        layui.use('form', function () {
            var form = layui.form;
            var layer = layui.layer;
            var $ = layui.$;

            let dataList = parent.layer.methodConfig;
            $(".label_one").html(dataList.modelName);
            $("#label_id").html(dataList.id);
            active = {
                //创建链接
                yes: function () {
                    if ($("select[name='DAY'] option:selected").val() == "") {
                        layer.msg('请选择天数', {
                            icon: 5,
                            anim: 6
                        });
                    } else {
                        $.ajax({
                            url: getRootPath() + "/bim/modelShare/insertModelShare",
                            type: "post",
                            data: {
                                shareDay: $("select[name='DAY'] option:selected").val(), // DATE
                                modelId: dataList.id, // ID
                                modelName: dataList.modelName, // NAME
                            },
                            beforeSend: function () {
                                layer.load(2);
                            },
                            complete: function () {
                                layer.closeAll('loading');
                            },
                            success: function (data_) {
                                debugger
                                if (data_.success == true) {
                                    layer.methodConfig = data_;
                                    layer.open({
                                        type: 2,
                                        title: false,
                                        closeBtn: 0,
                                        shade: [.5],
                                        area: ['100%', '100%'],
                                        content: ['linkOne', 'no'],
                                        end: function () {
                                            close();
                                        }
                                    });
                                } else {
                                    layer.msg(data_.message);
                                }
                            },
                            error: function () {
                                layer.msg("请求失败，请稍后再试", {
                                    icon: 5,
                                    anim: 6
                                })
                            }
                        })
                    }

                },
                close: function () {
                    close();
                }
            }

            function close() {
                $maskof();
                let index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            }

            $('.layui-input-block button').click(function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            })

        });

    </script>
</body>

</html>
