<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.bim.dao.PermissionMapper">

    <select id="selectPermissionHaved" resultType="com.zy.bim.bean.Permission" >
        select tp.permission_name,tp.permission, tp.permission_url from t_permission tp
        left join t_role_permission tr on tr.permission_id = tp.id
        left join t_user_role_project  tu on tu.role_id = tr.role_id
        where tu.user_id = #{userId} and tu.project_id = #{projectId}
    </select>


    <select id="queryAllPermission" resultType="java.lang.String">
        select permission_url from t_permission
    </select>
</mapper>